@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    background-color: #e1e7dd;
    font-family: 'Questrial';
    font-size: 20px;
}

h1{
    font-size:32px;
}

h2{
    font-size:24px;
}

a{
    color: black;
    padding: 15px;
}

a:hover{
    color:white;
    text-decoration: none;
}

header{

    padding-top: 50px;
    padding-left:100px;
    padding-right: 100px;
}

header img{
    width: 200px;
}

#saluda{
    bottom: 0;
    right: 0;
    background-color: #392b1b;
    height: 100%;
    width:19%;
    display:none;
    padding:20px;  
}

#tanca{
    float:right;
    background-color:  #9e724e;
    width:min-content;
    height:9%;
    padding-top: 26px;
}

#tanca:hover{
    background-color:  #774e33;
}

#tanca:hover a{
    color:white;
}



