@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    background-color:rgb(32, 31, 101);
    font-family: 'Questrial';
    font-size: 20px;
    color:white;
}

h1{
    font-size:38px;
}

h2{
    font-size:30px;
    margin-bottom: 50px;
}

h3{
    font-size:24px;
}

a{
    color: white;
    padding: 15px;
}

a:hover{
    color:black;
    text-decoration: none;
}

td, th{
    width: 400px;
}

th{
    text-align: center;
}

header{
    padding-top: 50px;
    padding-left:30px;   
}

input[type=text],
input[type=email],
input[type="password"],
input[type="number"],
input[type="search"],
textarea
{
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
    color: white;
    margin-bottom: 15px;
    margin-left: 15px;
}

.panel input[type=text],
.panel input[type=email],
.panel input[type="password"],
.panel input[type="number"]{
    margin-left: 0px;
}

#logo img{
    width: 200px;
}

#auth{
    margin-top:15px;
    display: inline-flex;
}

#auth div{
    margin-top: 7px;
}

#fons{
    top: 0;
    left: 0;
    background-color: rgb(32, 31, 101);
    height: 100%;
    width:81% ;
    display:none;
    padding:20px; 
    opacity: 30%;

}

#saluda{
    bottom: 0;
    right: 0;
    background-color: rgb(32, 31, 101);
    height: 100%;
    width:19%;
    display:none;
    padding:20px; 
    color:white;
}

#tanca{
    float:right;
    background-color:  rgb(122, 237, 208);
    width:min-content;
    height:80px;
    padding-top: 26px;
}

#tanca:hover{
    background-color:  rgb(246, 153, 192);
}

#tanca:hover a{
    color:white;
}


#saluda form{
    margin-top: 125px;
    
}

#saluda form input[type=text],
#saluda form  input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	width: 275px;
	outline: none;
    color: white;
    margin-bottom: 15px;
}
#saluda form  textarea{
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid white;
	width: 275px;
	overflow: hidden;
    resize:none;
    color: white;
    margin-bottom: 15px;
}

#saluda form input[type=submit]{
    background-color: white;
    width:100%;
}

i{
    color: white;
    font-size: 130%;
}

#social{
    margin-top: 150px;
}

#social p{
    margin-bottom: 0px;
}

#contact{
    padding-left: 100px;
}

.authForm{
    width: auto;
    margin: 0 auto;
    margin-top:25px;
    border-style: solid; 
    border-width: 3px;
    border-color: #d1c5b8;
    padding:15px;
    text-align: center;  
}

.authForm textarea{
    resize:none;
    width: 60%;
    height: 200px;
}

.authForm button{
    background-color:#d1c5b8 ;
    margin-top: 20px;;
}

#password{
    margin-right: 40px;
}

#nameReg{
    margin-right: 12px;
}

#passwordReg{
    margin-right: 40px;
}

#password_confirmationReg{
    margin-right: 20px;
}

#password_confirmation{
    margin-right: 115px;
}


.authForm ul{
    list-style: none;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li ul {
    background-color:#74E2C6;
    border-style: solid; 
    border-width: 3px;
    border-color: rgb(246, 153, 192);
    display:none;
    position:absolute;
    min-width:140px;
    right:100px;
    
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}



hr{
    color: #9e724e;
    width:75%;
    margin: 0px;
    padding: 0px;
    text-align:left;
    margin-left: 0;
}

nav{
    margin-left: 40px;
    margin-bottom: 20px;  
}

.navbar{
    width:100px;
}

.navbar-light .navbar-nav .nav-link{
    color:white;
  
}

.navbar-light .navbar-nav .nav-link:hover{
    color:black;
}

#añadirAdmin{
    margin-top: 50px;
    text-align: center;
}

#añadirAdmin input[type=submit]{
    margin-top: 20px;
}

#admins{
    text-align: center;
}

table{
    margin:0 auto;
   
}

.table{
    color:white;
}

#nombre{
    margin-right: 12px;
}

#contraseña{
    margin-right: 44px;
}

#contraseña_confirmation{
    margin-right: 128px;
}


#servicios div{
    width: 48%;
    display:inline-block;
    vertical-align: top;
    padding-left: 8%;
    margin-bottom: 50px;
    text-align: justify;
}

.abrirProyecto:hover{
    cursor: pointer;
}


.infoProyecto{
    display:none;
    margin-top: 15px;
}

.infoProyecto img{
    margin-bottom: 20px;
}

#proyectos a, #productos a{
    padding-left: 0px;
    padding-top: 0px;

}

#listaProyectos{
    width: 100%;
    margin-top: 25px;
}

.infoProyecto span{
    float: right;
    padding-left: 5px;
}

#listaProyectos a{
    float: right;
    padding:0px;
   
}

#listaProyectos hr{
    margin-top: 20px;
    padding-bottom: 20px;
    width:100%;
}

#listaProyectos i{
    color: blue;
}

#footerDiv{
    padding-top: 30px;
    background-color: #5042a4;
}

footer div{
    width: 45%;
    display:inline-block;
    vertical-align: top;
    padding-left: 20%;
    margin-bottom: 50px;
}

footer a{
    padding:0;
}

footer i{
    color:white;
    padding-right: 10px;
}

#equipoDIV {
    background-color: rgb(32, 31, 101);
 
}

#serviciosDIV{
    padding-top: 30px;
    background-color: rgb(246, 153, 192);
}

.fullAltura{
    position:relative;
    top:-120px;
    background-image: url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    padding-top: 62%;
}

#proyectosDIV{
    background-color:#74E2C6;
    padding-top: 30px;  
}

#proyectosDIV i{
    color:white;
}

#contacta input[type=text],
#contacta input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	width: 50%;
	outline: none;
    color: white;
    margin-bottom: 15px;
    margin-left: 15px;
}

#contacta #sociales input[type=text],
#contacta #sociales input[type=email]{
    width: 25%;
    
}

#contacta #infoEmpresa input[type=submit]{
    background-color: white;
}

#contacta #infoEmpresa {
    text-align:left;
}

#contacta #infoEmpresa label{
    width:40%;
    margin-left: 25px;
}

#sociales{
    text-align:right;
}

#instagram, #facebook, #linkedin, #enlaceWeb{
    margin-right: 340px;
}

#datosContacto{
    text-align: center;
}

#nombreProducto{
    margin-right: 16px;
}

.fichaProducto{
    width:30%;
    display:inline-block;
    margin-top:20px;
    margin-right: 20px;
}


#tablaProductos{
    text-align: center;
}

#tablaProductos a{
    padding:0px;
}

.tablaPrecio{
    width:auto;
}

#tablaProductos i{
    color: red;
}

.table td, .table th {
  
    border: 1px solid white;
    vertical-align: middle;
}

.row {
    margin-right: 0px;
}

#producto, #productos{
    margin-top: 50px;
}

#descripcionProducto{
    width: 40%;
}

#carusel{
    margin-right: 20px;
}

#productoImgDesc{
    display: flex;
    align-items: flex-start;
  
  justify-content: space-around;
}

#carrito i{
    color:white;
}

#carrito:hover i{
    color:black;
}

#quantity{
    width: 60px;
}

#menu{
    margin-top:20px;
}
#menuEnlace{
    padding: 0px;
}

#productosCRUD{
    overflow-x:auto;
}

.titulo{
    margin-top: 50px;
}

#botonComprar{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card{
    background-color: transparent;
    border: none;
}

#pago .form-control{
    height: fit-content;
    font-size: 2rem;
}

.form-control{
    border-radius: 0;
}

.form-control:focus{
    background-color: transparent;
    color:white;
}

.btn{
    margin-left: 10px;
}

#pedidos i{
    color:white;
}

#imagenesProyecto{
    display:flex; 
    justify-content:space-around;
}

#imagenesProyecto img{
    width:450px;
}

#briefing:hover{
    color: rgb(122, 237, 208);
}

.panel{
    background-color: transparent;
    border: 0px;
}

#servicios img{
    width:50px;
    float:left;
    margin-right:10px;
    margin-top:8px;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


@media(max-width: 1450px) and (min-width:990px){
    .flex-column {
        -ms-flex-direction: row!important;
        flex-direction: row!important;
    }

    nav{
        margin:0 auto;
        width:50%;
    }

    #navbarSupportedContent ul{
        margin:0 auto;
    
    }
    .text-xl-right{
        text-align: center!important;
    }
    
    
}



@media (max-width: 1450px)   {
    header{
        padding-top: 30px;
        padding-left:0px;
        padding-right: 0px;
        position:static;
    }

    .fullAltura{
        position:static;
    }

    a{
        padding-right:5px;
    }
    
    #showSaluda {
        display: none;
    }

    label{
        display:block;
    }

    #logo{
        text-align: center;
        
    }

    #password, #nameReg, #passwordReg, #password_confirmationReg, #nombre, #contraseña,  #contraseña_confirmation, #nombreProducto{
        margin-right: 0px;
    }
    

    .fixed-bottom{
        position:static;
    }
    
    .sticky-top{
        position:static;
    }

    #contacta input[type=text],
    #contacta input[type=email] 
    {
        width: 80%;
        margin-left: 0px;
        text-align:center;
    }

    #contacta #sociales input[type=text],
    #contacta #sociales input[type=email]{
        text-align:center;
        width: 50%;
        
    }

    #contacta #infoEmpresa {
        text-align:center;
    }

    #contacta #infoEmpresa label{
        width:100%;
        margin-left: 0px;
    }

    #sociales{
        text-align:center;
    }

    #instagram, #facebook, #linkedin, #enlaceWeb{
        margin-right: 0px;
    }

    #datosContacto{
        text-align: center;
    }

  

   
    .navbar {
        width:auto;
    }

  
   
}



@media (max-width: 990px)   {
    .fixed-bottom {
        position: static;
    }

    nav{
        margin-left: 0px;
        margin-bottom: 0px;
    }

    #carrito, #volver, #nombre{
        padding:0px;
        padding-right: 5px;
    }

    #servicios div{
        width: 100%;
        padding-left:0%;
       
    }
    .fichaProducto{
        width:100%;
        display:block;
        margin:0px;
        margin-top: 10px;
    }

    #producto img{
        width: 100%;
        float:none;
        margin-right: 0px;
    }
    
    #productoImgDesc{
        display: block;
    }

    #productoImgDesc form{
        text-align: center;
    }

    #descripcionProducto{
        margin-top: 20px;
        width: 100%;
    }

    footer div{
        width: 100%;
        display:block;
        padding-left: 0%;
        margin-bottom: 50px;
        text-align: center;
    }

    #imagenesProyecto img{
       width:300px
    }
  
}

@media (max-width: 770px){
    #imagenesProyecto{
        display:flex; 
        flex-direction: column;
    }
    #imagenesProyecto img{
        width:auto;
     }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1000px;
    }
}

@media (min-width: 1650px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (max-width: 575px){
    #logo{
        display: flex;
        align-items: center;
    }
}